---
/**
 * * Hero centered with video button
 *
 * There is a commented out "awards" section below in case you want that
 */
import { Icon } from "astro-icon";
import { Image } from "astro:assets";
import { getRelativeLocaleUrl } from "astro:i18n";

// components
import Button from "@components/Button/Button.astro";
import VideoButton from "@components/Button/VideoButton.astro";
import Badge from "@components/Badge/Badge.astro";

// utils
import { getLocaleFromUrl } from "@js/localeUtils";
import { useTranslations } from "@js/translationUtils";

// images
import person1 from "@images/ashton_blackwell.jpg";
import person2 from "@images/nicola_harris.jpg";
import person3 from "@images/nic_fassbender.jpg";

const currLocale = getLocaleFromUrl(Astro.url);
const t = useTranslations(currLocale);
---

<section id="hero-center" class="dark relative overflow-hidden pt-14">
  <div class="dark:bg-dark-bg">
    <!-- bg neon arc -->
    <div
      class="md:top-120 absolute -inset-x-10 top-20 opacity-70 md:-inset-x-14 md:top-32 xl:-bottom-10"
    >
      <div class="mx-auto w-full max-w-[1800px]">
        <Icon
          name="amplify/neon-arc"
          aria-hidden="true"
          class="max-w-full text-primary-500 xl:scale-y-[1.1]"
        />
      </div>
    </div>

    <!-- main content -->
    <div class="site-container relative mx-auto px-4 pb-12 pt-16 md:pb-20">
      <!-- alter the max-w-[750px] here until your text looks nice on large screens -->
      <div
        class="mx-auto flex w-full max-w-[750px] flex-col justify-center px-4 text-center"
      >
        <div data-aos="fade-up" data-aos-trigger="#hero-center">
          <!-- <Badge>Meet Amplify</Badge> -->
          <!-- notification -->
          <div class="mb-4 flex w-full items-center justify-center">
            <a
              href="/blog/tsconfig-paths-setup/"
              class="hover-border-glow flex items-center rounded-full border border-base-200 bg-base-100 px-4 py-1 text-sm text-base-700 dark:border-base-800 dark:bg-base-950 dark:text-base-300"
            >
              <span class="flex items-center gap-2">
                <Icon
                  name="amplify/amplify-logo"
                  class="inline size-4 text-primary-600 dark:text-primary-400"
                  aria-hidden="true"
                />New updates!</span
              ></a
            >
          </div>

          <h1 class="h1 mb-6">
            {t("hero_text")}
          </h1>
        </div>
        <p
          class="mx-auto mb-10 max-w-lg text-pretty text-lg text-base-700 dark:text-base-300"
          data-aos="fade-up"
          data-aos-delay=".1"
          data-aos-trigger="#hero-center"
        >
          {t("hero_description")}
        </p>
        <div class="flex flex-wrap justify-center gap-4">
          <div
            data-aos="fade-up"
            data-aos-delay=".2"
            data-aos-trigger="#hero-center"
          >
            <Button
              variant="primary"
              href="https://cosmicthemes.com/themes/amplify/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Get Amplify
            </Button>
          </div>

          <VideoButton
            data-aos="fade-up"
            data-aos-delay=".2"
            data-aos-trigger="#hero-center"
          />
        </div>

        <!-- social proof -->
        <div
          class="mx-auto mt-8 flex max-w-md"
          data-aos="fade-up"
          data-aos-delay=".3"
          data-aos-trigger="#hero-center"
        >
          <div class="-m-1.5 flex flex-wrap items-center">
            <div class="w-auto p-1.5">
              <div class="flex flex-wrap">
                <div
                  class="aspect-square size-10 overflow-hidden rounded-full border-2 border-base-50 dark:border-primary-600"
                >
                  <Image
                    src={person1}
                    class="object-cover"
                    alt="reader"
                    loading="eager"
                    width={100}
                  />
                </div>
                <div
                  class="-ml-4 aspect-square size-10 overflow-hidden rounded-full border-2 border-base-50 dark:border-primary-600"
                >
                  <Image
                    src={person2}
                    class="object-cover"
                    alt="reader"
                    loading="eager"
                    width={100}
                  />
                </div>
                <div
                  class="-ml-4 aspect-square size-10 overflow-hidden rounded-full border-2 border-base-50 dark:border-primary-600"
                >
                  <Image
                    src={person3}
                    class="object-cover"
                    alt="reader"
                    loading="eager"
                    width={100}
                  />
                </div>
                <div
                  class="-ml-4 aspect-square size-10 overflow-hidden rounded-full border-2 border-base-50 dark:border-primary-600"
                >
                  <Image
                    src={person2}
                    class="object-cover"
                    alt="reader"
                    loading="eager"
                    width={100}
                  />
                </div>
              </div>
            </div>
            <div class="flex-1 p-1.5 text-left">
              <p
                class="max-w-[14rem] text-sm leading-tight tracking-tight text-base-700 dark:text-base-300"
              >
                Join 200+ happy and<br />
                satisfied customers.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
